@import "tailwindcss";
:root {
--background: #ffffff;
--foreground: #171717;
}
@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
--primary-font: var(--font-exo);
}
@media (prefers-color-scheme: dark) {
:root {
--foreground: #0a0a0a;
--background: #ffffff;
}
}
body {
background: var(--background);
color: var(--foreground);
font-family: var(--primary-font), Helvetica, sans-serif;
}
.black-text {
color: #1b1b1b;
}
.black-bg {
background-color: #1b1b1b;
}
.primary-text {
color: #e9204f;
}
.primary-bg {
background-color: #e9204f;
color: #f3f3f3;
}
.primary-bg:hover {
background-color: #ee2755;
color: #f3f3f3;
}
.primary-border {
border: 1px solid #e9204f;
}
